@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1.logo {
    position: relative;
    text-align: center;
    letter-spacing: 2px;
    font-size: 2.5rem;
    color: #345acf;
    font-style: italic;
    font-family: "Press Start 2P", system-ui;
    cursor: pointer;
    z-index: 1;
    margin: 0;
}

h1.logo::before {
    position: absolute;
    content: 'CHATTER';
    color: rgba(52, 90, 207, 0.4);
    transform: translate(-3px, -2px);
    z-index: 1;
    transition: 0.3s;
}

h1.logo:hover::before {
    transform: translate(-8px, -7px);
}

h1.logo::after {
    position: absolute;
    content: 'CHATTER';
    z-index: -1;
    color: #04185f;
    transform: translate(calc(3px - 100%), 2px);
    transition: 0.3s;
}

h1.logo:hover::after {
    transform: translate(calc(8px - 100%), 7px);
}