.initial {
    align-items: center;
    width: 80vw;
    max-width: 350px;
    gap: 1rem;
}

.input {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 16px;
    width: 100%;
    background-color: white;
}

.input:focus {
    border: 2px solid black;
}

.invalid {
    border: 1px solid red;
}

.error {
    margin-top: 0;
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
    color: red;
    opacity: 0;
}

.visible.error {
    opacity: 1;
}

.button {
    margin-top: 1rem;
    padding: 1rem 0;
    background-color: #345acf;
    color: #fff1df;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}